h1{
    color: black;
}
h2{
    color:red
}

body {
    color: red;
}

.box {
    height: 250px;
    width: 1000px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: rgb(26, 26, 26);
}